<template name="home">
  Hello, world!
</template>

<template name="landing">
    <div class="columns">
      <div class="column is-4 is-offset-4 has-text-centered">
        <div class="content">
          <br>
          <h1>Tearn</h1>
          <h3>On-demand academic help for students, by students</h3><br>
          <p>Whether you are a student who can teach material or a student
            interested in learning material, Tearn can be useful for you.
            We ship the philosophy that students can be both learners and teachers.</p><br>
          <button class="button is-primary">Get Started</button>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-4 has-text-centered">
        <div class="content">
          <br><br>
          <h1>Stay up to date!</h1>
          <p>Tearn is planning to launch a beta within the next year.
            Please feel free to tune in to Tearn social media to stay updated!</p>
          <a href="#" class="icon fa fa-facebook-square fa-2x"></a>
          <a href="#" class="icon fa fa-twitter fa-2x"></a>
          <a href="#" class="icon fa fa-linkedin-square fa-2x"></a>
        </div>
      </div>
    </div>
</template>
