<template name="home">
  Hello, world!
</template>

<template name="landing_page">
  <div class="row" style="text-align:center;">
    <div class="col-md-12">
      <h1>Tearn</h1>
      <h3>On-demand academic help for students, by students</h3><br>
      <p>Whether you are a student who can teach material or a student
        interested in learning material, Tearn can be useful for you.</p><br>
      <button class="btn btn-success">I'm a Student</button> <button class="btn btn-success">I'm a Teacher</button>
    </div>
  </div>
  <br><br><br>
  <div class="row" style="text-align:center;background-color:#FAFAFA;padding:1em;">
    <div class="col-md-12">
      <h1>Stay up to date!</h1>
      <p>Tearn is planning to launch a beta within the next year.
        Please feel free to tune in to Tearn social media to stay updated!</p>
      <a href="https://facebook.com/tearn" class="icon fa fa-facebook-square fa-4x"></a>
    </div>
  </div>
</template>
