.btn.btn-success {
  background-color: $primary-color !important;
  color: $white !important;
  border-color: transparent;
  transition: background-color 200ms ease-in-out;
}

.btn-success {
  background-color: $primary-color !important;
  border-color: transparent;
}

.btn.btn-success:hover, .btn.btn-success:focus,
.btn.btn-success:active, .btn-success:hover,
.btn-success:focus, .btn-success:active  {
  background-color: #4da6ff !important;
  border-color: transparent;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: $primary-color !important;
  color: $white !important;
  border-color: transparent;
  transition: background-color 200ms ease-in-out;
}

.nav-pills>li>a,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
  color: $primary-color !important;
}
