.btn {
  transition: transform 300ms ease-in;

  &:hover {
    transform: scale(1.03);
  }

  &:focus {
    outline: none !important;
  }
}

.btn.btn-success {
  background-color: $primary-color !important;
  color: $white !important;
  border-color: transparent;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: $secondary-color !important;
    border-color: transparent;
  }
}


.btn.btn-primary {
  background-color: $white;
  border-color: transparent !important;
  transition: all 200ms ease-in-out;
  font-size: 13pt;

  &:hover {
    background-color: $primary-color;
    a {
      color: white;
    }
  }

  a {
    color: $primary-color;
  }
}


.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: $primary-color !important;
  color: $white !important;
  border-color: transparent;
  transition: background-color 200ms ease-in-out;
}

.nav-pills>li>a,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
  color: $primary-color !important;
}
