.btn.btn-success {
  background-color: $primary-color;
  color: $white;
  border-color: transparent;
  transition: background-color 200ms ease-in-out;
}

.btn.btn-success:hover {
  background-color: #4da6ff;
}
