%clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

.remove-left-right-padding {
  padding-left: 0;
  padding-right: 0;
  padding: 0;
}
