.navbar {
  border: none !important;
  border-bottom: 0;
  margin-bottom: 0px !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100vw;
  z-index: 999;
}

.z-nav-no-bg {
  background-color: transparent !important;
  color: transparent !important;
}

.navbar-default .navbar-nav>li>a {
  color: white !important;

  &:hover {
    color: $primary-alt !important;
  }
}

/* LOGO OVERRIDE */

.navbar-brand {
  display: flex !important;
  align-items: center !important;
}

.navbar-brand>img {
  padding: 7px 14px !important;
}

.navbar-brand>img:hover {
  cursor: pointer !important;
}
