.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
  color: $primary-color;
  background-color: #fff;
}

.navbar {
  background-color: #fafafa;
  border-bottom: 1px solid #efefef;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}

.flex-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
