.DocumentsList {

  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  #delete {
    align-self: flex-end;
    right: 0;
    color: lighten(red, 25%);
    font-size: 25pt;
  }

  li {
    text-decoration: none;
    list-style: none;
    color: $primary-color;
    width: 100%;
    min-height: 20px;
    padding: 10px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #ffffff 15%, #efefef);
    border: 1px solid #cccccc;
    transition: box-shadow 100ms ease-in, margin-bottom 100ms ease-in;
  }

  li:hover {
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	  margin-bottom: 10px;
    color: lighten($secondary-color, 0%);
  }
}
