.DocumentsList {

  text-align: center;
  padding-left: 0;

  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: row;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;

  .Document {
    width: 100%;
  }

  .panel-collapse.collapse {
    border: none !important;
  }

  .panel-collapse.collapse.in {
     border: 1px solid transparent !important;
  }

  #delete{
    color: $primary-alt;
    font-size: 20pt;
    font-weight: 400;
    z-index: 9999;
  }

  #delete:hover {
    color: lighten($primary-alt, 10%);
    cursor: pointer;
  }

  .job {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;
    list-style: none;
    font-size: 16pt;
    font-weight: 300;
    color: white;
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    background: linear-gradient(to bottom, lighten($secondary-color,10%) 50%, lighten($secondary-color, 15%));
    transition: box-shadow 100ms ease-in;
    margin-bottom: 10px;
    z-index: -9;
  }

  .job:hover {
    box-shadow: inset -1px 2px 7px rgba(0,0,0,0.15), 0 0 8px transparentize($secondary-color, .4);
    cursor: pointer;
  }
}
