.Index {

  h1, h2, h3 {
    color: white;
  }

  p {
    color: white;
  }

  .jumbotron {
    background-color: $primary-color;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    min-width: 100%;
    color: $yellow;
  }

  // #react-root {
  //   height: 1000px;
  //   background: url("JHU.png") no-repeat center center fixed;
  //   -webkit-background-size: cover;
  //   -moz-background-size: cover;
  //   -o-background-size: cover;
  //   background-size: cover;
  // }

}
