.Index {

  h1, h2, h3 {
    color: white;
  }

  .jumbotron {
    background: url('splash.jpeg') $secondary-color;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
    height: 100vh;
    width: 100vw;
    color: lighten($primary-color, 25%);
    text-align: center;

    &:after { // vignette
      -moz-box-shadow: inset 0 0 10em #000;
      -webkit-box-shadow: inset 0 0 10em #000;
      box-shadow: inset 0 0 10em #000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      content: "";
    }
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    display: block;

    &.LoginModal {
      overflow: visible !important;
    }
  }

  .btn.btn-primary {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;

    &:focus {
      outline: none;
    }
  }

  @media (max-width: 800px) {
    .btn.btn-primary {
      top: 80%;
    }
  }

  @media (max-width: 576px) {
    .btn.btn-primary {
      top: 85%;
    }
  }

}
