.DocumentsList {

  text-align: center;
  padding-left: 0;

  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: left;
  flex: 2;

  @media (max-width: 800px) {
    justify-content: center;
  }

  // include cross browser support! maybe get a plugin to do that
  // https://modernizr.com/

  .panel-collapse.collapse {
    border: none !important;
  }

  .panel-collapse.collapse.in {
     border: 1px solid transparent !important;
  }

  #delete{
    position: absolute;
    top: 0;
    left: 10px;
    color: lighten($secondary-color, 10%);
    font-size: 20pt;
    font-weight: 400;
    transition: color 200ms ease-in-out;
  }

  #delete:hover {
    color: lighten($secondary-color, 20%);
    cursor: pointer;
  }

  #expand {
    position: absolute;
    top: 0;
    left: 30px;
    color: lighten(#2ecc71, 10%);
    font-size: 20pt;
    font-weight: 400;
    transition: color 200ms ease-in-out;
  }

  .job {
    position: relative;
    text-decoration: none;
    list-style: none;
    font-size: 16pt;
    font-weight: 300;
    color: white;
    padding: 35px 15px;
    margin: 10px 25px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 3px;
    background: linear-gradient(to bottom, lighten($primary-color,10%) 50%, lighten($primary-color, 15%));
    transition: box-shadow 100ms ease-in;

    &:hover {
      box-shadow: inset -1px 2px 7px rgba(0,0,0,0.1), 0 0 8px transparentize($primary-color, .4);
      cursor: pointer;
    }

    .accept, .edit {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
    }

    a {
      color: white;
    }
  }

  .author {
    text-decoration: none;
    color: $primary-alt !important;
    transition: color 200ms ease-in;
    display: block;

    &:hover {
      color: #f5f5ff !important;
    }
  }

  .title {
    font-weight: 300;
    font-family: "Roboto";
  }

  .job-body {
    color: white;
    background: lighten($primary-color, 15%);
    border: lighten($primary-color, 15%);
  }


}
