.Profile {

  h1 {
    display: inline-block;
  }

  h2 {
    margin: 0px inherit;
  }

  .left {
    // background: #424242;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .1);
    border-radius: 10px;
    text-align: center;
    // color: #fafafa
  }

  .profile-img button {
    width: 50px;
    margin: 10px auto;
  }

  .profile-img img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: box-shadow 200ms ease-out;

    &:hover {
      box-shadow: 1px 1px 10px 0 lighten(#2f2f2f, 63%);
    }
  }

  .profile-nav {
    display: flex;
    justify-content: center;
  }

  .profile-nav.nav.nav-pills {
    color: $primary-color;
    margin: 10px;
  }


  .profile-nav.nav.nav-pills::before {
    display: none !important;
  }


  .Rating {
    display: inline-block !important;
    margin: 0;
    padding: 0;
  }

  .ratingTitle {
    display: inline-block !important;
    margin: 0 10px;
  }

  .details {
    h2, h3 {
      margin-top: 0;
    }
  }

  .TeacherView, .LearnerView {
    text-align: center;
    h3 {
      font-size: 1.5em;
    }
    p {
      color: $secondary-color;
    }
  }
}
