.Profile {

  @media (min-width: 1200px) {
    background-color: #fafafa;
    box-shadow: 1px 1px 15px 0 lighten(#2f2f2f, 63%);
    border-radius: 5px;
    height: 550px;
    width: 100%;
    padding: 5px 10px;
    margin: 0 auto;
  }

  h1 {
    display: inline-block;
  }

  h2 {
    margin: 0px inherit;
  }

  h3, h4, h5, h6 {
    display: block;
  }

  .profile-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: $dark;
  }

  .profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $secondary-color;
    transition: box-shadow 200ms ease-out;
  }

  .profile-img img:hover {
    box-shadow: 1px 1px 10px 0 lighten(#2f2f2f, 63%);
  }

  .profile-nav.nav.nav-pills {
    color: $primary-color;
    display: inline-block !important;
    margin: 10px;
  }


  .profile-nav.nav.nav-pills::before {
    display: none !important;
  }

  @media (max-width: 992px) {
    text-align: center;
    .profile-img {
      margin: 0 auto;
    }
    .profile-container {
      justify-content: center;
    }
  }

  .Rating {
    display: inline-block !important;
    margin: 0;
    padding: 0;
  }

  .ratingTitle {
    display: inline-block !important;
    margin: 0 10px;
  }

  .details {
    color: $dark;
    h2, h3 {
      margin-top: 0;
    }
  }
  .TeacherView, .LearnerView {
    text-align: center;
    h3 {
      font-size: 1.5em;
    }
    p {
      color: $secondary-color;
    }
  }
}
