.Profile {
  h1 {
    margin: 0 10px;
  }
  .profile-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .profile-img {
    width: 150px;
    height: 150px;
    margin: 20px 0;
  }
  .profile-nav {
    display: inline-block;
    margin: 0 10px;
  }
}

.profile-nav.nav.nav-pills {
  color: $primary-color;
  display: inline-block !important;
}

.profile-nav.nav.nav-pills::before {
  display: none !important;
}

.learnerRating, .teacherRating {
  display: inline-block !important;
  padding: 0 10px;
}
