.signup-container {
  width: 100%;
  margin: 0 auto;
}

.Signup {
  font-family: $font-stack;
  p {
    font-size: 12pt;
  }
  form p {
    margin-top: 20px;
  }
  label {
    color: #2f2f2f;
    font-weight: 500;
  }
  input {
    box-shadow: 0 0 0 0 #fff;
    border-radius: 2px;
    border-color: #eee;
  }

  input:active, input:focus {
    border: 1px solid $primary-color;
    box-shadow: 0 0 0 0 #fff;
  }
}
